<!-- ko if: $index() == 0 -->
<div class="col-lg-3 col-xs-0" data-bind="visible: Team.Members.length < 3"></div>
<!-- /ko -->
<div class="col-lg-3 col-xs-6 no-side-padding">
    <div class="col-xs-6 col-lg-5 no-side-padding member-photo">
        <img src="Content/images/brown.png" />
    </div>
    <div class="col-xs-6 col-lg-7 no-side-padding">
        <div class="member-info">
            <h3 style="padding:10px 0" data-bind="text: Member.Name"></h3>
            <a href="" onclick="return false">More Info...</a>
            <div class="member" style="display: none; text-align: center">
                <p>
                    <b data-bind="text: Member.Name"></b>
                </p>
                <p>Role: <span data-bind="text: Member.Role"></span></p>
                <p>
                    Email:
                    <a href="mailto:gbrown@cedarville.edu">gbrown@cedarville.edu</a>
                    <br />
                </p>
            </div>
        </div>
    </div>
</div>
